#content-slider-container {
  position: relative;
  width: px;
  height: px;
}

#content-slider-items {
  position: absolute;
  top: 0px;
  left: 0px;
  width: px;
  height: px;
}

div.slide {
  position: relative;
  width: px;
  height: px;
}

div.slide-inner {
}

div.slide-title {
}

div.slide-text {
}

div.slide-link {
}

div.slide-link a {
}

div.slide-link a span {
}

#content-slider-navigation {
}

#content-slider-prev {
}

#content-slider-next {
}