﻿<%@ Master Language="C#" MasterPageFile="~/SiteNew.Master" AutoEventWireup="true" CodeBehind="ClientMaster.master.cs" Inherits="Calculate.ClientMasterDemo" %>

<asp:Content ID="Content2" runat="server" ContentPlaceHolderID="MainContent">
    <link href="../css/calculator.css" rel="stylesheet" />
    <script type="text/javascript" src="../Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../Scripts/jquery.blockUI.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="images/ssc.ico" />
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
    <div class="mastercss">
        <asp:ContentPlaceHolder ID="BodyContent" runat="server">
        </asp:ContentPlaceHolder>
    </div>
</asp:Content>


